<h1 class="admin-message">{{page}}</h1>
<hr>

<div class="row">
  <div class="col-lg-4"> 
    <chat-room [messageVersionInput]="true" (getChatRoomId)="showMessage($event)"></chat-room>
  </div>

  <div class="col-lg-8"> 
    <div *ngIf="response === -1" class="alert alert-danger">
      <strong>Error!</strong> Something went wrong. Please try again.
    </div>
    <h3>Messages</h3>
    <div class="form-group">
      <div *ngFor="let message of messages" class="messages">
        <span>{{message.body}}</span>
      </div>
    </div>
    <div class="panel-footer chat-box chat-custom">
      <div class="input-group">
          <input id="chat" type="text" class="form-control input-sm" 
                  placeholder="Type your message here...">
          <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="add-message">Send</button>
          </span>
      </div>
    </div>
  </div>
</div>
