<h1 class="admin-message">{{page}}</h1>
<hr>

<div class="row">
  <div class="col-lg-4"> 
    <chat-room [messageVersionInput]="true" [messageSelectedChatRoomId]="chatRoomId" 
               (getChatRoomId)="showMessage($event)"></chat-room>
  </div>

  <div class="col-lg-8"> 
    <div *ngIf="response === -1" class="alert alert-danger">
      <strong>Error!</strong> Something went wrong. Please try again.
    </div>
    <h3>Messages</h3>
    <div #scrollMe class="panel-body">
      <ul *ngFor="let item of messages" class="chat">
        <li *ngIf="item.user.id != user.id" (click)="gotoDetail(item.message)" 
            class="left clearfix messages">
          <span class="chat-img pull-left">
            <img src="app/components/admin/message/resources/img/you.png" alt="User Avatar" class="img-circle" />
          </span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">{{item.user.name}}</strong> <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time"></span>{{item.message.created_at | date:"medium"}}</small>
            </div>
            <p>{{item.message.body}}</p>
          </div>
        </li>
        <li *ngIf="item.user.id == user.id" (click)="gotoDetail(item.message)" 
            class="right clearfix messages">
          <span class="chat-img pull-right">
            <img src="app/components/admin/message/resources/img/me.png" alt="User Avatar" class="img-circle" />
          </span>
          <div class="chat-body clearfix">
            <div class="header">
              <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{item.message.created_at | date:"medium"}}</small>
              <strong class="pull-right primary-font">{{item.user.name}}</strong>
            </div>
            <p>{{item.message.body}}</p>
          </div>
        </li>
      </ul>
      <div *ngIf="messages == null" class="chat-empty glyphicon-bigger messages">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span>Please select a chat room</span>
      </div>
    </div>
    <div class="panel-footer">
      <form [formGroup]="messageForm" (ngSubmit)="save()" class="input-group" novalidate>
        <input formControlName="body" id="body" type="text" class="form-control input-sm" 
                placeholder="Type your message here..." />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-sm" 
                    id="add-message">Send</button>
        </span>
      </form>
    </div>
  </div>
</div>
