<h1 class="admin-message">{{page}}</h1>
<hr>

<div class="row">
  <div class="col-lg-4"> 
    <chat-room [messageVersionInput]="true" (getMessages)="showMessage($event)"></chat-room>
  </div>

  <div class="col-lg-8"> 
    <h3>Messages</h3>
    <div class="form-group">
      <textarea class="form-control chat-box" rows="5" id="chat-box">{{messages}}</textarea>
    </div>
    <div class="panel-footer chat-box chat-custom">
      <div class="input-group">
          <input id="chat" type="text" class="form-control input-sm" 
                  placeholder="Type your message here...">
          <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
          </span>
      </div>
    </div>
  </div>
</div>
