<h1 class="sign-up">{{page}}</h1>
<hr>

<div class="row">
  <div class="col-lg-4"> 
    <div *ngIf="response === 1" class="alert alert-success">
      <strong>Success!</strong> Your user has been created!
    </div>
    <div *ngIf="response === -1" class="alert alert-danger">
      <strong>Error!</strong> Something went wrong. Please try again.
    </div>
    <div *ngIf="response === -2" class="alert alert-danger">
      <strong>Error!</strong> User name or email already exists.
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="doSignUp()" novalidate>
      <div class="form-group" 
      	[ngClass]="{'has-error':!signUpForm.controls['name'].valid && signUpForm.controls['name'].touched}">
        <label for="name">Name:</label>
        <input formControlName="name" type="name" class="form-control" id="name">
        <div *ngIf="signUpForm.controls['name'].hasError('required') && signUpForm.controls['name'].touched" 
        			class="alert alert-danger">You must include a name.</div>
      </div>
      <div class="form-group" 
      	[ngClass]="{'has-error':!signUpForm.controls['email'].valid && signUpForm.controls['email'].touched}">
        <label for="email">Email address:</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <div *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched" 
        			class="alert alert-danger">You must include an email.</div>
      </div>
      <button [disabled]="!signUpForm.valid" id="sign-up-submit" type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>