<!-- Wrapper -->
<div id="wrapper" [className]="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a [routerLink]="['/dashboard']" id="dashboard-link">My Simple Chat App</a>
      </li>
      <li class="sidebar-header">
        <span *ngIf="user.id != null">
          Hello {{user.name}}
        </span>
        <span *ngIf="user.id == null">
          Hello Guest
        </span>
      </li>
      <li>
        <a [routerLink]="['/signin']" id="sign-in-link">Sign In</a>
      </li>
      <li>
        <a [routerLink]="['/signup']" id="sign-up-link">Sign Up</a>
      </li>
      <li>
        <a [routerLink]="['/about']" id="about-link">About</a>
      </li>
      <!-- <div> -->
      <div *ngIf="user.id != null && user.name != null && user.email != null">
        <li class="sidebar-admin">
          <span id="admin-title">Admin</span>
        </li>
        <li class="sidebar-admin">
          <a [routerLink]="['/admin/user']" id="admin-user-link" class="admin">User</a>
        </li>
        <li class="sidebar-admin">
          <a [routerLink]="['/admin/chat-room/-1/message']" id="admin-message-link" class="admin">Message</a>
        </li>
        <li class="sidebar-admin">
          <a [routerLink]="['/admin/chat-room']" id="admin-chat-room-link" class="admin">Chat Room</a>
        </li>
        <li class="sidebar-admin">
          <a href="javascript:void(0)" (click)="logOut()" id="admin-log-out" class="admin">Log out</a>
        </li>
      </div>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">

    <button type="button" class="btn btn-primary" id="toggle-sidebar"
        (click)="toggleSidebar()">
        <span *ngIf="toggled === 'toggled'" class="glyphicon glyphicon-chevron-left"></span>
        <span *ngIf="toggled === ''" class="glyphicon glyphicon-chevron-right"></span>
    </button>

    <!-- Content -->
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-lg-12">		
			   <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- /#Content -->

    <div class="spacer"></div>

    <!-- footer -->
    <div id="footer">
      <div class="row">
        <div class="col-lg-12"> 
          <span>My Simple Chat App /
            Powered by <a href="http://www.angular2.com/">Angular2</a>, 
            <a href="http://rubyonrails.org/">Ruby on Rails</a>, 
            <a href="http://socket.io/">Socket.io</a> and 
            <a href="http://www.redis.io/">Redis</a>. 
            Happy Coding ☺</span>
        </div>
      </div>
    </div>
    <!-- /#footer -->
	</div>
  <!-- /#page-content-wrapper -->
  
</div>
<!-- /#Wrapper -->
