<h1 class="admin-user">{{page}}</h1>
<hr>

<div class="row">
  <div class="col-lg-4"> 
    <div *ngIf="response === -1" class="alert alert-danger">
      <strong>Error!</strong> Something went wrong. Please try again.
    </div>
    <button (click)="add()" id="add-user" class="btn btn-primary pull-right">Add</button>
    <h4>User Search</h4>
    <input #userSearchBox id="user-search-box" class="form-control" (keyup)="search(userSearchBox.value)" />
  </div>
</div>
<div class="help-block"></div>
<div class="row">
  <div class="col-lg-4"> 
    <div *ngFor="let user of users | async" class="input-group">
      <input (click)="gotoDetail(user)"
             type="button" value="{{user.name}}" class="form-control text-left users" id="select-{{user.id}}">
      <span class="input-group-btn">
          <button (click)="delete(user); $event.stopPropagation()"
                  class="btn btn-danger" id="delete-{{user.name}}">x</button>
      </span>
    </div>
  </div>
</div>