<h1 class="admin-user-detail">{{page}}</h1>
<hr>

<div class="row">
  <div class="col-lg-4"> 
    <div *ngIf="response === -1" class="alert alert-danger">
      <strong>Error!</strong> Something went wrong. Please try again.
    </div>
    <div *ngIf="response === -2" class="alert alert-danger">
      <strong>Error!</strong> User name or email already exists.
    </div>
    <form [formGroup]="userDetailForm" (ngSubmit)="save()" novalidate>
      <div class="form-group" 
           [ngClass]="{'has-error':!userDetailForm.controls['name'].valid 
                    && userDetailForm.controls['name'].touched}">
        <label for="name">Name:</label>
        <input formControlName="name" type="text" class="form-control" id="name">
        <div *ngIf="userDetailForm.controls['name'].hasError('required') 
                    && userDetailForm.controls['name'].touched" 
              class="alert alert-danger">You must include a name.</div>
      </div>
      <div class="form-group" 
           [ngClass]="{'has-error':!userDetailForm.controls['email'].valid 
                       && userDetailForm.controls['email'].touched}">
        <label for="email">Email address:</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <div *ngIf="userDetailForm.controls['email'].hasError('required') 
                    && userDetailForm.controls['email'].touched" 
              class="alert alert-danger">You must include an email.</div>
      </div>
      <button (click)="goBack()" type="button" class="btn btn-default"
              id="user-detail-back">Back</button>
      <button [disabled]="!userDetailForm.valid" id="user-detail-save" 
              type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>