body {
	overflow-x: hidden;
  box-sizing: border-box;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

#wrapper #footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#header {
  width: 100%;
  padding: 15px;
  background: #000;
  color: #999999;
  text-align: right;
}
